@model IEnumerable<EmployeeDto>

@foreach (var employee in Model)
{
    <tr>
        <td>@Html.DisplayFor(X => employee.Name)</td>
        <td>@Html.DisplayFor(X => employee.Email)</td>
        <td>@Html.DisplayFor(X => employee.EmployeeType)</td>
        <td>@Html.DisplayFor(X => employee.Age)</td>
        <td>@Html.DisplayFor(X => employee.Salary)</td>
        <td>@Html.DisplayFor(X => employee.IsActive)</td>
        <td>@Html.DisplayFor(X => employee.Gender)</td>
        <partial name="_ButtonPartial" model="@employee.Id" />

    </tr>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are You Sure To Delete This Employee?
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete" asp-route-id="@employee.Id" method="post">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}